[submodule "Projects/Module_DHT22"]
	path = Projects/Module_DHT22
	url = https://github.com/ModularMonitor/Module_DHT22
[submodule "Libraries/TFT"]
	path = Libraries/TFT
	url = https://github.com/ModularMonitor/lib-TFT
[submodule "Libraries/Serial"]
	path = Libraries/Serial
	url = https://github.com/ModularMonitor/lib-Serial
[submodule "Projects/Brain"]
	path = Projects/Brain
	url = https://github.com/ModularMonitor/Brain
[submodule "Projects/Module_MICS6814"]
	path = Projects/Module_MICS6814
	url = https://github.com/ModularMonitor/Module_MICS6814
[submodule "Libraries/iecdevlib"]
	path = Libraries/iecdevlib
	url = https://github.com/ModularMonitor/lib-i2cdevlib
[submodule "Projects/Module_LY038_HW072"]
	path = Projects/Module_LY038_HW072
	url = https://github.com/ModularMonitor/Module_LY038_HW072
[submodule "Libraries/Adafruit-BMP085-Library"]
	path = Libraries/Adafruit-BMP085-Library
	url = https://github.com/ModularMonitor/lib-Adafruit-BMP085-Library
[submodule "Libraries/Adafruit_BusIO"]
	path = Libraries/Adafruit_BusIO
	url = https://github.com/ModularMonitor/lib-Adafruit_BusIO
[submodule "Libraries/HMC5883L_Simple"]
	path = Libraries/HMC5883L_Simple
	url = https://github.com/ModularMonitor/lib-HMC5883L_Simple
