[submodule "Projects/Module_DHT22"]
	path = Projects/Module_DHT22
	url = https://github.com/ModularMonitor/Module_DHT22
[submodule "Libraries/TFT"]
	path = Libraries/TFT
	url = https://github.com/ModularMonitor/lib-TFT
[submodule "Libraries/Serial"]
	path = Libraries/Serial
	url = https://github.com/ModularMonitor/lib-Serial
[submodule "Projects/Brain"]
	path = Projects/Brain
	url = https://github.com/ModularMonitor/Brain
[submodule "Projects/Module_MICS6814"]
	path = Projects/Module_MICS6814
	url = https://github.com/ModularMonitor/Module_MICS6814
[submodule "Projects/Module_PMSDS011"]
	path = Projects/Module_PMSDS011
	url = https://github.com/ModularMonitor/Module_PMSDS011
[submodule "Projects/Module_GY87"]
	path = Projects/Module_GY87
	url = https://github.com/ModularMonitor/Module_GY87
[submodule "Projects/Module_CCS811"]
	path = Projects/Module_CCS811
	url = https://github.com/ModularMonitor/Module_CCS811
[submodule "Libraries/Adafruit-BMP085-Library"]
	path = Libraries/Adafruit-BMP085-Library
	url = https://github.com/ModularMonitor/lib-Adafruit-BMP085-Library
[submodule "Libraries/Adafruit_BusIO"]
	path = Libraries/Adafruit_BusIO
	url = https://github.com/ModularMonitor/lib-Adafruit_BusIO
[submodule "Libraries/HMC5883L_Simple"]
	path = Libraries/HMC5883L_Simple
	url = https://github.com/ModularMonitor/lib-HMC5883L_Simple
[submodule "Libraries/i2cdevlib"]
	path = Libraries/i2cdevlib
	url = https://github.com/ModularMonitor/lib-i2cdevlib
[submodule "Libraries/espsoftwareserial"]
	path = Libraries/espsoftwareserial
	url = https://github.com/ModularMonitor/lib-espsoftwareserial
[submodule "Libraries/esp_sds011"]
	path = Libraries/esp_sds011
	url = https://github.com/ModularMonitor/lib-esp_sds011
[submodule "Libraries/Adafruit_Sensor"]
	path = Libraries/Adafruit_Sensor
	url = https://github.com/ModularMonitor/lib-Adafruit_Sensor
[submodule "Libraries/DHT-sensor-library"]
	path = Libraries/DHT-sensor-library
	url = https://github.com/ModularMonitor/lib-DHT-sensor-library
[submodule "Libraries/SelfThreadable"]
	path = Libraries/SelfThreadable
	url = https://github.com/ModularMonitor/lib-SelfThreadable
[submodule "Auxiliary projects/RGB_fixer"]
	path = Auxiliary projects/RGB_fixer
	url = https://github.com/ModularMonitor/tool-RGB_fixer
[submodule "Auxiliary projects/TCP_simple_connection"]
	path = Auxiliary projects/TCP_simple_connection
	url = https://github.com/ModularMonitor/tool-TCP_connection
[submodule "Raspberry Software/AutoIP"]
	path = Raspberry Software/AutoIP
	url = https://www.github.com/Lohkdesgds/AutoIP
[submodule "Projects/Module_KY038_HW072"]
	path = Projects/Module_KY038_HW072
	url = https://github.com/ModularMonitor/Module_KY038_HW072
